body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #9b9696;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navbar ul li {
    display: inline-block;
  }
  
  .navbar ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 14px 16px;
  }