body {
    margin: 0;
    padding: 0;
    height:100vh;
  }

  .background image{
    background-image: url("https://www.pinterest.com/pin/44121271342808131/");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }
  .navbar {
    
    background-color:#9b9696;
    position: fixed;
    top: 10;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height:100px;
  }


  nav.logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: rgb(184, 158, 13);
    text-transform: uppercase;
    padding-left: 20px;
    text-align:left;
    letter-spacing: 1.5px;
    cursor: pointer;
    
    }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 2.5px;
  }
  
  .navbar ul li {
    display: inline-block;
    justify-content:center;
    
  }
  
