body {
    margin: 0;
    padding: 0;
    height:100%;
  
  }

  .background-image {
    background-image: url("/home/wondieki/Desktop/project/images/wilder.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .navbar {
    
    background-color:rgb(247, 105, 105);
    position: fixed;
    top: 10;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height:100px;
  }
  .logo{
    width:50%;
    cursor:pointer;
    margin: 0;
    padding: 0;
    height:50px;
  }
  h1{
    color:rgb(8, 2, 2);
    text-align:t;
    width:120%;
    height:50px;
    margin: 20px;
    padding: 20px;
  }
  .navbar ul {
    list-style-type: none;
    margin: -20px;
    padding: -20px;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 2.5px;
    
  }

  nav ul li a:hover {
    color: #f00;
  }

  .navbar ul li {
    display: inline-block;
    justify-content:center; 
  }

  .navbar ul li a {
    color:black;
  }

  
  .text-overlay p {
    font-size: 1.5rem;
    line-height: .5;
    margin-bottom: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    height:6px;
  }
    

  .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 70px 70px;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    }
  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 150px 30px; 
    color: #fff;
    font-size: 1.5rem;
  }
  #images {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
  }
  
  .displayedImages {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .displayedImages img {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
    height:400px;
    width:400px;
    border-radius: 20px;
  }
  .card1, .card2, .card3, .card4 {
  flex: 0 auto;
  margin-right: 50px;
  margin-left: 50px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}
.card1 img, .card2 img, .card3 img, .card4 img {
  width: 300px;
  height: 400px; /* change this value to the desired height */
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.card-text {
  max-width: 300px; 
}
  

  .images{
    margin-bottom: 0px;
  }

  .new{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

  }

  .footer {
    color: #6909a9;
    text-align: center;
    padding: 2em;
    color:#050506;
    background-color:rgb(247, 105, 105);;
    line-height: 1.5; /* add this property */
  }
  
  .footer .footer-title {
    font-size: 20px;
    font-weight: 600;
  }
  
  .footer .p {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .footer p a {
    font-weight: 600;
    text-decoration: none;
    color: #050506;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Added property */
    justify-content: flex-end; /* Added property */
  }
  
  .search-container {
    display: flex;
    justify-content: flex-end;
  
}

.search-form {
    margin-left: 10px;
}



  